:root{
    --fg: #68B1FF;
    --bg: "#FCFCFC";
    --cyber-color: #7500BA;
}

body{
    font-family: 'Inter',sans-serif;
}

.fg{
    color: var(--fg);
}

.bg{
    background-color: var(--bg);
}

.fbg{
    background-color: var(--fg);
}

.very_rounded {
    border-radius: 1rem !important;
}

.center{
    text-align: center;
}

#top{
    text-align: center;
    background-color: var(--bg);
}


#background{
    background-color: var(--bg);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: -1;
    top : 0;
    left: 0;
}



#footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    color: black;
}